@model IEnumerable<AdaptiveWebProject.Models.UsersData>

<div>
    <h4>UsersData</h4>
    <hr />
@foreach (var row in Model)
{
    <dl class="dl-horizontal">



        <dd>
            @Html.DisplayFor(model => row.Points)
        </dd>



        <dd>
            @Html.DisplayFor(model => row.ExpertiseLevel)
        </dd>

    </dl>
}
</div>
